@import 'syntax';


// CONTENTS
// vars
// core
// layout
// post
// index
// mobile
// animations


// vars
$font-headings: 'Barlow';
$font-body: 'Barlow';
$whitish: hsl(244deg, 12%, 95%);
$blackish: hsl(60deg, 9%, 9%);
$gray: hsl(60deg, 10%, 80%);


// core
*,
::after,
::before {
  background-color: inherit;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

// let the fonts load
a,
h1,
h2,
h3,
h4,
h5,
ol,
p,
ul {
  //scss-lint:disable VendorPrefix PropertySortOrder
  animation: fadein 1.2s;
  -o-animation: fadein 1.2s;
  -moz-animation: fadein 1.2s;
  -ms-animation: fadein 1.2s;
  -webkit-animation: fadein 1.2s;
  //scss-lint:enable VendorPrefix PropertySortOrder
}

a {
  color: $blackish;
  text-decoration: underline;
  //scss-lint:disable PropertySpelling
  text-decoration-skip-ink: auto;
  //scss-lint:enable PropertySpelling
}

b,
strong {
  font-weight: bold;
}

blockquote {
  border-left: 5px solid $gray;
  font-style: italic;
  padding-left: 1rem;
}

code {
  padding: .1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-headings;
  font-weight: 600;
  line-height: 1;
  margin: 1rem 0;
}

iframe {
  margin: 1rem 0;
}

img {
  max-width: 100%;
  max-height: 80vh;
}

hr {
  background: $gray;
  border: 0;
  height: 1px;
  margin: 1rem 0;
}

pre {
  margin: .5rem 0;
  overflow-x: auto;
  padding: 1rem;
}

table {
  margin: 1rem 0;
}


// layout
body {
  background: $whitish;
  color: $blackish;
  //font-display: fallback;
  font-family: $font-body;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  padding: 1rem;
  position: relative;

  a {
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
  }

  li {
    margin-bottom: .2rem;
    margin-right: 2rem;
    text-align: right;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 60rem;
  padding: 1rem;
}

section {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 999;
  min-width: 70%;
  padding: 1rem;

  h1:first-child {
    margin-top: 0;
  }

}

nav ul {
  border-right: 1px solid $gray;
}


// post
.post {
  h2:first-child {
    margin-top: 0;
  }

  p {
    margin: 1rem 0;
    &.kicker {
      font-style: italic;
      margin-top: -.5rem;
    }

  }

  ol,
  ul {
    margin-left: 1.2rem;
  }
}

.meta {
  margin: 2rem 0;

  a {
    text-decoration: none;
  }
}


// index
.posts {
  ul{
  list-style: none;
  }
  li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;

    a,
    div {
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    time {
      font-variant-numeric: tabular-nums;
      padding-left: 1rem;
      white-space: nowrap;
    }
  }
}


// mobile
@media screen and (max-width: 45rem) {
  header {
    li {
      display: inline;
      margin-right: 1rem;
    }
  }

  main {
    margin-top: 0;
  }

  nav ul {
    border-right: 0;
  }
}


// animations
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
